body {
    background-color: #E5D0CC 
}

h1, h2  {
    background-color: #E5D0CC;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Monteserrat';
}

a { 
    text-decoration: none!important;
}
.mynotesmain{
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.mynotes {
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.nav-active {
    display: flex;
    flex: 1;
    background-color: #BFACB5;
    height: 100vh;
    max-width: 20vw;
    align-items: stretch;
    flex-direction: column;
    font-weight: bold;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 0.4rem;
}

.note-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    flex: 1;
}

#vertical {
    flex: 0 0 20vw;
    flex-direction: row;
    min-height: 100vh;

}

header{
    display: flex;
    justify-content: flex-end;
    height: 5vh;
}

#container {
    display: flex;
    flex: 1;
}

#container > nav, 
#container > aside {
    flex: 0 0 20vw;
    align-content: flex-start;
}

#create-note {
    margin-top: 100px
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar li{
    margin-bottom: 1em;
    margin-left: 1em;
}

.navbar a {
    color: #444554;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.abutton{
    padding: 0;
    border: none;
    outline: none;
    background: #E5D0CC;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    cursor:pointer;
    text-decoration: none;
}

#button{
    font-weight: 1000;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;;
}

.textarea_text,
.textarea_icon{       
    color: #7F7B82;
    background-color: #E5D0CC;
    padding-left: 10px;
}

.textarea_text{
    font-size: 19px;
    width: auto;
    text-align: left;
    border: none;
}
.textarea_icon{
    font-size: 20px;
    font-weight: 1000px;
}
.text-area{
    background-color: #BFACB5;
}
.sideButton{
    background: #BFACB5;
    font-size: 25px;
    cursor:pointer;
}

.sidebar-container{
    display: flex;
    flex-flow: column;
}

#create-Note{
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #E5D0CC;
    cursor:pointer;
}
.button_text{
    color: #7F7B82;
    font-weight: bold;
}
footer{
    display: flex;
    width: 100%;
    color: #444554;
    text-align: center;
    justify-content: center;

    flex: 4;
    align-items: flex-end;
}

article {
    height: 90vh;
    padding: 8px 20px 8px 20px;
    border-radius: 0.5rem;
    margin-bottom: 8px;
}

#notebox{
    display: flex;
    background: #BFACB5;    
    flex-shrink: 3;
    height: 5vh;
}


.dir-column {
    flex-direction: column;
}